.container {
    color: #FFFFFF;
    margin: 0;
    /* padding: 0 3em; */
}

.facilityContainer, .facilityImage, .facilityImageContainer {
    height: 400px;
    margin: 0;
}


.facilityContainer {
    background-image: url("../../../public/assets/greenBackground.png");
    padding: 1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.facilityImageContainer {
    margin: 0;
}

.facilityImage {
    width: 100%;
    margin: 0;
}

.facilityHeading {
    font-size: 2rem;
}

.facilityText {
    color: #FFFFFF;
    margin: 1.5em 3em;
    letter-spacing: 1.2px;
    line-height: 1.5;
}

.btnLearnMore {
    all: unset;
    width: 12em;
    height: 4em;
    font-weight: bolder;
    color:  #00beb0;
    background: #FFFFFF;
    border-radius: 2em;
    transition: background 0.5s ease-in-out
}

.btnLearnMore:hover, .btnLearnMore:focus {
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

@media (min-width: 800px){
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .facilityText {
        margin: 3em;
    }
}

