.timelineText {
    margin: 2em;
}

.timelineLink{
    color: #FFFFFF !important;
}

.container{
    padding: 2em 1em 1em;
    width: 100%;
    color: #FFFFFF;
}

.imageContainer {
    height: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px){
    .container{
        display: flex;
        padding: 0 3em;
    }
    .imageContainer {
        height: 250px;
    }
}