.image{
    height: 300px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.h1Text, .h2Text {
    letter-spacing: 2px;
}

.h1Text {
    font-size: 2.5rem;
    margin-bottom: 1em;
}

.h2Text {
    font-size: 0.8rem;
}
